/* Color for body */
.body-bg{
    background-color: #ecebeb ;
}

.add-text{
    line-height: 2rem;
}

.primary-btn{
    background-color: #304aca !important;
    color: white !important;
}

.mt-6{
    margin-top: 80px;
}

/* Fonts */
.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.ads-link{
    border: 2px solid rgb(213, 213, 213);
    transition-duration: 0.5s;
}

.ads-link:hover{
    border:2px solid #304aca !important;
}

.Feedback-text{
    line-height: 2.2rem;
}

.font-size08{
    font-size: 0.8rem;
}

.closeoffcanvas-btn{
    border: 0px solid transparent;
    background-color: transparent;
    width: 3rem;
    padding: 0px;
}



.color-green{
    background-color: #28B446;
}

.font-size101{
    font-size: 1.1rem;
}

.card{
    border: 0px solid black !important;
}

.body-bg-accordion{
    background-color: #D8E2EC !important;
}

.accordion-link{
    transition-duration: 0.4s;
    border-radius: 8px;
}

.accordion-link:hover{
    background-color: #304aca;
    color: white !important;

}

.w-20{
    width: 20%;
}

.logo-offcanvas{
    width: 2rem;
}



